<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.icecream.snorlax"
	>

	<!-- Normal (Already granted)-->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<!-- Dangerous (Runtime permission) -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<application
		android:name="com.icecream.snorlax.app.SnorlaxApp"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Snorlax"
		>
		<meta-data
			android:name="xposedmodule"
			android:value="true"
			/>
		<meta-data
			android:name="xposeddescription"
			android:value="@string/app_desc"
			/>
		<meta-data
			android:name="xposedminversion"
			android:value="53"
			/>
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key"
			/>

		<activity
			android:name="com.icecream.snorlax.app.home.HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/Snorlax.Activity"
			/>

		<activity
			android:name="com.icecream.snorlax.app.map.MapsActivity"
			android:label="@string/app_name"
			android:parentActivityName="com.icecream.snorlax.app.home.HomeActivity"
			android:theme="@style/Snorlax.Activity"
			/>

		<receiver
			android:name="com.icecream.snorlax.app.receiver.MapReceiver"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedReceiver"
			>
			<intent-filter>
				<action android:name="com.icecream.snorlax.BROADCAST_MAP"/>
			</intent-filter>
		</receiver>

		<activity-alias
			android:name=".Launcher"
			android:targetActivity="com.icecream.snorlax.app.home.HomeActivity"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

	</application>

</manifest>
